body{
    margin: 0;
    height: 100%;
}
.wrap {
    width:100%;
    max-width: 1000px;
    margin: auto;
    height:100%;
}
.wrap div{
    margin: auto;
    display: block;
    position: absolute;
    right:0;
    left:0;
    margin: auto;
    top:50%;
    transform:translateY(-50%);
}
p, a {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0;
    margin-top: 60px;
    font:40px 'Trebuchet MS';
    text-decoration: none;
}
p {
    font-style: italic;
}
a {
    color: black;
    width:280px;
    padding:10px;
    display: block;
    background: #fff;
    border: 2px solid black;
    border-radius: 7px;
    margin: auto;
    transition: all .3s ease;
    margin-top: 20px;
}
a:hover {

    color: #fff;
    background: #00a79d;
    border: 2px solid #00a79d;
}
.wrap img {
    width: 80%;
    margin: auto;
    display: block;
}

